{# Params:
    - following: Boolean
    - user: User
#}
{% macro follow_button(following, user) -%}
    {% if following %}
        {% set css = "btn btn-following" %}
    {% else %}
        {% set css = "btn btn-primary" %}
    {% endif %}

    <button id="follow-button" class="btn {{ css }} shadow-none" onclick="follow(this)"
            this-user-id="{{ user.user_id }}">
        {% if following %}
            Following
        {% else %}
            Follow
        {% endif %}
    </button>
{%- endmacro %}