{% extends "base.html" %}

{% block title %}{{user.full_name}}{% endblock %}

{% block content %}


	<div class="container">

		<div class="profile d-flex">

			<div class="profile-image">

				<img src="static/assets/default-profile-picture.png" alt="">

			</div>

            <div class="mt-3">
			<div class="profile-user-settings d-flex align-item-center">

                <h1 class="profile-user-name"><pre> {{ user.username }}</pre></h1>

                {% if is_me%}
				<button class="btn profile-edit-btn">Edit Profile</button>
                {% endif %}


			</div>

			<div class="profile-stats">

				<ul>
					<li><span class="profile-stat-count"></span> {{user.posts|length}} posts</li>
					<li><span class="profile-stat-count"></span> {{user.followers|length}} followers</li>
					<li><span class="profile-stat-count"></span> {{user.following|length}} following</li>
				</ul>

			</div>

			<div class="profile-bio">

				<p class="profile-real-name">{{ user.full_name }}</p>

			</div>

            </div>

		</div>
		<!-- End of profile section -->

	</div>
	<!-- End of container -->


{% endblock %}