{% extends "base.html" %}

{% from "components/form_control.html" import form_control with context %}

{% block title %}Sign In{% endblock %}

{% block content %}

<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <div class="container signin">
        <h1 class="signin-title">Soengram</h1>
        <h2 class="signin-subtitle">Sign In to see photos and videos from your friends.</h2>

        <form class="signin-form" action="/account/signin" method="POST">
            {{ form.csrf_token }}

            <div class="error-group">
                {% for field in form %}
                    {% if field.errors %}
                        {% for err in field.errors %}
                            <p class="text-danger text-center">{{ err }}</p>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-lg-12">
                    {{ form_control(form.email) }}
                </div>
            </div>


            <div class="row">
                <div class="col-lg-12">
                    {{ form_control(form.password) }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    {{ form.sign_in(class="btn btn-primary", placeholder=form.sign_in.label.text) }}
                </div>
            </div>
        </form>
    </div>
    <div class="container signup-signin">
        <p class="center">
            Don't have an account?
            <a href="/account/signup">Sign up</a>
        </p>
    </div>
    <div class="container">
        {% include "common/_footer.html" %}
    </div>
</div>

{% endblock %}
