/*********************************/
/* Common                        */
/*********************************/
html {
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

body {
    background-color: #FAFAFA;
    line-height: 18px;
    padding: 0;
    margin: 0;
}

header {
    background-color: white;
    width: auto;
    height: 55px;
    margin: 0;
    padding: 0;
}

nav {
    border-bottom: 1px solid #DBDBDB;
}

footer {
    padding-top: 20px;
    text-align: center;
    font-size: 12px;
    color: #C7C7C7;
}

footer a,
footer a:hover {
    color: #C7C7C7;
}

a {
    text-decoration: none;
}

i {
    color: black;
}

.btn-primary {
    background-color: #0095F6 !important;
    border-color: #0095F6 !important;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

hr {
    height: 1px;
    color: #a6a6a6;
}

.center {
    display: block;
    position: relative;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
}

.container.content {
    max-width: 975px;
    margin-top: 30px;
}

.display-inline-block {
    display: inline-block;
}

/*********************************/
/* Navbar                        */
/*********************************/

.navbar {
    max-height: 55px;
    width: auto;
}

.navbar > .container-fluid {
    width: 975px;
}

.navbar-brand,
.navbar-brand:hover {
    color: black;
    font-weight: bold;
    font-size: 24px;
}

.bi-house-door-fill,
.bi-house-door {
    font-size: 1.7rem
}

.bi-plus-square-fill,
.bi-plus-square {
    font-size: 1.7rem
}

.navbar-profile-pic {
    width: 1.7rem;
    height: 1.7rem;
}

.dropdown-menu {
    width: 200px;
    font-size: 14px;
}

.dropdown-menu-arrow {
    top: -25px;
    left: 90.5%;
    width: 0;
    height: 0;
    position: relative;
}

.dropdown-menu-arrow:before,
.dropdown-menu-arrow:after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-width: 7px 8px;
    border-style: solid;
    border-color: transparent;
    z-index: 1001;
}

.dropdown-menu-arrow:after {
    bottom: -18px;
    right: -8px;
    border-bottom-color: #FFF;
}

.dropdown-menu-arrow:before {
    bottom: -17px;
    right: -8px;
    border-bottom-color: rgba(0, 0, 0, .15);
}

.dropdown-item:first-child {
    padding-top: 8px;
    padding-bottom: 8px;
}

.dropdown-item:not(:first-child) {
    padding-bottom: 8px;
}

.dropdown-item:active {
    color: black;
    background-color: #EBECEB;
}

button.dropdown-item:focus {
    outline: 0;
}

.dropdown-item i {
    padding-right: 10px;
    font-size: 16px;
}

.display-sm .dropdown-item .navbar-profile {
    padding-left: 10px;
}

.nav-item.display-sm {
    display: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

/*********************************/
/* Sign Up & Sign In             */
/*********************************/
.container.signin,
.container.signup,
.container.signup-signin {
    width: 350px;
    border: 1px solid #dbdbdb;
    background-color: white;
}

.signup,
.signin {
    padding: 0 0 34px 0;
}

.signup-signin {
    margin-top: 10px;
    height: 60px;
}

.signup-title,
.signin-title {
    margin: 22px auto 12px;
    text-align: center;
}

.signup-subtitle,
.signin-subtitle {
    color: #8e8e8e;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 40px 10px;
    text-align: center;
}

.signup-form,
.signin-form {
    padding: 0 40px 0 40px;
    margin-top: 30px;
}

.signup-form .form-control,
.signin-form .form-control {
    margin-top: 5px;
    height: 36px;
    font-size: 12px;
    background-color: #FAFAFA;
    border-radius: 3px;
}

.signup-form .row .btn,
.signin-form .row .btn {
    margin-top: 15px;
    width: 268px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}

.error-group > p {
    margin: 1px;
    padding: 1px;
}

.error-group > p:last-child {
    padding-bottom: 9px;
}

/*********************************/
/* Create Post                   */
/*********************************/

.container.create_post {
    width: 600px;
    border: 1px solid #dbdbdb;
    background-color: white;
    padding: 0 0 34px 0;
}

.create_post-title {
    margin: 22px auto 12px;
    text-align: center;
}

.create_post-form {
    padding: 0 40px 0 40px;
    margin-top: 30px;
}

.create_post-form .form-control {
    margin-top: 5px;
    height: 36px;
    font-size: 12px;
    background-color: #FAFAFA;
    border-radius: 3px;
}

.create_post-form .row .btn {
    margin-top: 15px;
    width: 268px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}

.preview-image {
    margin-top: 15px;
    width: 100%;
    display: none
}

/*********************************/
/* Profile - Info                */
/*********************************/

.profile-info {
    height: auto;
    font-size: 16px;
    padding-bottom: 5px;
}

.profile-image > img {
    width: 150px;
    height: 150px;
}

.profile-user-name {
    margin-top: 20px;
    font-size: 28px;
    font-weight: 300;
}

.profile-stats {
    margin-top: 25px;
    padding-left: 0;
}

.profile-stats > ul {
    display: block;
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.profile-stats li {
    display: inline-block;
    margin-right: 40px;
}

.profile-stats li a {
    color: black;
}

.profile-stats li:last-child {
    margin-right: 0;
}

.profile-stat-count {
    font-weight: bold;
}

.profile-bio {
    padding-right: 40px;
    margin-top: 25px;
    line-height: 1.5;
}

.profile-full-name {
    font-weight: bold;
}


.profile-description {
    margin-top: -5px;
}

.profile-user-settings .btn {
    margin-top: -9px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}

.btn-following {
    background-color: transparent;
    border-color: #DBDBDB;
    color: black;
}

/*********************************/
/* Profile - Post Gallery        */
/*********************************/

.post-gallery {
    margin: auto;
}

.post-gallery > .col {
    margin-top: 25px;
}

.gallery-image {
    width: 293px;
    height: 293px;
    /* TODO: Uncomment and remove above width and height when implementing responsiveness*/
    /*width: 100%;*/
    /*height: 100%;*/
    object-fit: cover;
}

.gallery-item {
    position: relative;
    width: 293px;
    color: #FFFFFF;
    cursor: pointer;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 293px;
    height: 293px;
    /* TODO: Uncomment and remove above width and height when implementing responsiveness*/
    /*width: 100%;*/
    /*height: 100%;*/
    background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-info ul li .fas {
    color: #FFFFFF;
}

.gallery-item-info {
    display: none;
}

.gallery-item-info > ul {
    display: block;
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.gallery-item-info li {
    display: inline-block;
    font-size: 20px !important;
}

.gallery-item-delete {
    margin-left: 2.2rem;
}

.no-posts-yet,
.upload-first-photo {
    margin: auto;
    padding-top: 25px;
}

.no-posts-yet i {
    font-size: 46px;
    text-align: center;
}

.upload-first-photo i {
    font-size: 42px;
    text-align: center;
}

.no-posts-yet-title,
.upload-first-photo-title,
.feed .not-following-title {
    margin-top: 20px;
    text-align: center;
    font-size: 28px;
    font-weight: 300;
}

.posts-grid-item {
    position: relative;
}

.modal-body{
    padding: 0 !important;
    margin: 0 !important;
}

.modal-dialog {
    max-width: 902px;
}

.modal-image {
    width: 570px;
    height: 570px;
}

.modal-post-image {
    display: inline-block;
}

.modal-post-user-info {
    width: 330px;
    height: 570px;
    padding: 0;
    margin-left: -4px;
    display: inline-block;
    vertical-align: top;
    border-left: 1px solid #E9E9E9;
}

.modal-post-user-link {
    padding: 20px 0 6px 16px;
}

.modal-post-user-link .fa-trash-alt {
    font-size: 18px;
    color: red;
    margin-right: 11px;
    float: right;
}

.modal-post-user-link .fa-trash-alt:hover {
    cursor: pointer;
}

.modal .post-comment {
    padding: 6px 0 14px 16px;
    vertical-align: top;
}

.modal .post-comment-text {
    display: inline-block;
    margin-left: 10px;
    width: 245px;
    vertical-align: top;
    overflow-wrap: break-word;
}

.post-comment-text > a {
    float: left;
    padding-right: 5px;
}

.modal .card-post-date {
    padding: 4px 15px 0 0;
}

.modal-post-user-link {
    padding: 20px 0 6px 16px;
}

.post-profile-pic,
.post-comment-profile-pic {
    width: 32px;
    height: 32px;
}

.post-username {
    padding-left: 10px;
    color: black;
    font-weight: bold;
}

.post-comment-username {
    color: black;
    font-weight: bold;
}

.post-username:hover,
.post-comment-username:hover {
    text-decoration: underline;
}

/*********************************/
/* Feed                          */
/*********************************/

.feed .not-following {
    width: 975px;
}

.feed .not-following {
    margin-top: 60px;
}

.feed .not-following > div {
    font-size: 42px;
    text-align: center;
}

.feed .not-following-desc {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}

.feed .posts {
    width: 650px;
}

.feed .sidebar {
    width: 325px;
    margin-left: 650px;
    padding: 20px 0 6px 10px;
    position: fixed;
}

.feed .sidebar-profile-pic {
    display: inline-block;
}

.feed .sidebar-profile-pic img {
    width: 56px;
    height: 56px;
}

.feed .sidebar-user-info {
    display: inline-block;
    max-width: 230px;
    margin-left: 15px;
}

.feed .sidebar-username {
    overflow-wrap: break-word;
    color: black;
    font-weight: bold;
}

.feed .sidebar-username:hover {
    color: black;
}

.feed .sidebar-fullname {
    overflow-wrap: break-word;
    color: #8e8e8e;
}

.feed .sidebar > footer {
    margin-top: 5px;
    padding-right: 5px;
    font-size: 12px !important;
    text-align: left;
}

.card {
    width: 600px;
    background-color: white;
    border-color: #DBDBDB;
    margin-left: 0;
}

.card:not(:last-child) {
    margin-bottom: 60px;
}

.card:last-child {
    margin-bottom: 30px;
}

.card-header {
    background-color: white;
}

.card-img {
    width: 598px;
    height: 600px;
}

.card-body {
    margin: 0;
    padding: 0;
    border-top: 1px solid #DBDBDB;
}

.card-header-user-info {
    padding: 8px 0 8px 0;
}

.card-comments {
    margin-top: 15px;
}

.card-comments .post-comment,
.card-comments-all,
.card-post-date {
    padding: 4px 15px 0 15px;
    vertical-align: top;
}

.card-comments-all {
    color: #8E8E8E;
    cursor: pointer;
}

.card-post-date {
    font-size: 10px !important;
    color: #8E8E8E;
}

.read-more {
    color: #8E8E8E;
}

.show-read-more .more-text{
    display: none;
}

/*********************************/
/* Comment                       */
/*********************************/

.submit-comment-btn {
    margin-left: 10px;
}

.comment-container {
    height: 407px;
    overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.comment-container::-webkit-scrollbar {
  display: none;
}

 /*Hide scrollbar for IE, Edge and Firefox */
.comment-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}