/*********************************/
/* Common                        */
/*********************************/
html {
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

body {
    background-color: #FAFAFA;
    line-height: 18px;
    padding: 0;
    margin: 0;
}

header {
    background-color: white;
    width: auto;
    height: 55px;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #DBDBDB;
}

a {
    text-decoration: none;
}

i {
    color: black;
}

button {
    background-color: #0095F6;
}

.center {
    display: block;
    position: relative;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
}

/*********************************/
/* Navbar                        */
/*********************************/

.navbar {
    max-height: 55px;
    width: 975px;
}

.navbar-brand,
.navbar-brand:hover {
    color: black;
    font-weight: bold;
    font-size: 24px;
}

.bi-house-door-fill,
.bi-house-door {
    font-size: 1.7rem
}

.navbar-profile-pic {
    width: 1.7rem;
    height: 1.7rem;
}

.dropdown-menu {
    width: 200px;
    font-size: 14px;
}

.dropdown-menu-arrow {
    top: -25px;
    left: 90.5%;
    width: 0;
    height: 0;
    position: relative;
}

.dropdown-menu-arrow:before,
.dropdown-menu-arrow:after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-width: 7px 8px;
    border-style: solid;
    border-color: transparent;
    z-index: 1001;
}

.dropdown-menu-arrow:after {
    bottom: -18px;
    right: -8px;
    border-bottom-color: #FFF;
}

.dropdown-menu-arrow:before {
    bottom: -17px;
    right: -8px;
    border-bottom-color: rgba(0, 0, 0, .15);
}

.dropdown-item:first-child {
    padding-top: 8px;
    padding-bottom: 8px;
}

.dropdown-item:not(:first-child) {
    padding-bottom: 8px;
}

.dropdown-item:active {
    color: black;
    background-color: #EBECEB;
}

.dropdown-item i {
    padding-right: 10px;
    font-size: 16px;
}

.nav-item.display-sm {
    display: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

/*********************************/
/* Account                       */
/*********************************/

.container.signup,
.container.signup-signin {
    width: 350px;
    border: 1px solid #dbdbdb;
    background-color: white;
}

.signup {
    padding: 0 0 34px 0;
}

.signup-signin {
    margin-top: 10px;
    height: 60px;
}

.signup-title {
    margin: 22px auto 12px;
    text-align: center;
}

.signup-subtitle {
    color: #8e8e8e;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 40px 10px;
    text-align: center;
}

.signup-form {
    padding: 0 40px 0 40px;
    margin-top: 30px;
}

.signup-form .form-control {
    margin-top: 5px;
    height: 36px;
    font-size: 12px;
    background-color: #FAFAFA;
    border-radius: 3px;
}

.signup-form .row .btn {
    margin-top: 15px;
    width: 268px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}

.error-group > p {
    margin: 1px;
    padding: 1px;
}

.error-group > p:last-child {
    padding-bottom: 9px;
}

/*********************************/
/* User Profile                  */
/*********************************/
img {
    display: block;
}

.container {
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.btn {
    display: inline-block;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}


.profile {
    padding: 5rem 0;
}


.profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3rem 3rem 3rem;
}

.profile-image img {
    border-radius: 50%;
    width: 200px;
}

.profile-user-settings,
.profile-stats,
.profile-bio {
    float: left;
    width: calc(66.666% - 2rem);
}

.profile-user-settings {

}

.profile-user-name {
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 300;
}

.profile-edit-btn {
    font-size: 1.4rem;
    line-height: 1.8;
    border: 0.1rem solid #dbdbdb;
    border-radius: 0.3rem;
    padding: 0 2.4rem;
    margin-left: 2rem;
    height: 50px;
}

.profile-settings-btn {
    font-size: 2rem;
    margin-left: 1rem;
}

.profile-stats {
    margin-top: 1rem;
}

.profile-stats li {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-right: 4rem;
    cursor: pointer;
}

.profile-stats li:last-of-type {
    margin-right: 0;
}

.profile-bio {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 0.5rem;
    margin-right: 4rem;
    padding-left: 30px;
}

.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
    font-weight: 600;
}

/*********************************/
/* Delete post button styling    */
/*********************************/
.btn_delete_post {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3px;
    right: 15px;
    width: 20px;
    height: 20px;
    background-color: darkgrey;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

.btn_delete_post:hover {
    background-color: black;
}

.posts-grid-item{
    position: relative;
}