/*********************************/
/* Common                        */
/*********************************/
html {
    font-family: "Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
}

body {
    background-color: #FAFAFA;
    line-height: 18px;
    padding: 0;
    margin: 0;
}

header {
    background-color: white;
    width: auto;
    height: 55px;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #DBDBDB;
}

a {
    text-decoration: none;
}

i {
    color: black;
}

button {
    background-color: #0095F6;
}

.center {
    display: block;
    position: relative;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
}

/*********************************/
/* Navbar                        */
/*********************************/

.navbar {
    max-height: 55px;
    width: 975px;
}

.navbar-brand,
.navbar-brand:hover {
    color: black;
    font-weight: bold;
    font-size: 24px;
}

.bi-house-door-fill,
.bi-house-door {
    font-size: 1.7rem
}

.navbar-profile-pic {
    width: 1.7rem;
    height: 1.7rem;
}

.dropdown-menu {
    width: 200px;
    font-size: 14px;
}

.dropdown-menu-arrow {
  top: -25px;
  left: 90.5%;
  width: 0;
  height: 0;
  position: relative;
}

.dropdown-menu-arrow:before,
.dropdown-menu-arrow:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-width: 7px 8px;
  border-style: solid;
  border-color: transparent;
  z-index: 1001;
}

.dropdown-menu-arrow:after {
  bottom: -18px;
  right: -8px;
  border-bottom-color: #FFF;
}

.dropdown-menu-arrow:before {
  bottom: -17px;
  right: -8px;
  border-bottom-color: rgba(0,0,0,.15);
}

.dropdown-item:first-child {
    padding-top: 8px;
    padding-bottom: 8px;
}

.dropdown-item:not(:first-child) {
    padding-bottom: 8px;
}

.dropdown-item:active {
    color: black;
    background-color: #EBECEB;
}

.dropdown-item i {
    padding-right: 10px;
    font-size: 16px;
}

.nav-item.display-sm {
    display: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

/*********************************/
/* Account                       */
/*********************************/

.container.signup,
.container.signup-signin {
    width: 350px;
    border: 1px solid #dbdbdb;
    background-color: white;
}

.signup {
    padding: 0 0 34px 0;
}

.signup-signin {
    margin-top: 10px;
    height: 60px;
}

.signup-title {
    margin: 22px auto 12px;
    text-align: center;
}

.signup-subtitle {
    color: #8e8e8e;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 40px 10px;
    text-align: center;
}

.signup-form {
    padding: 0 40px 0 40px;
    margin-top: 30px;
}

.signup-form .form-control {
    margin-top: 5px;
    height: 36px;
    font-size: 12px;
    background-color: #FAFAFA;
    border-radius: 3px;
}

.signup-form .row .btn {
    margin-top: 15px;
    width: 268px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}

.error-group > p {
    margin: 1px;
    padding: 1px;
}

.error-group > p:last-child {
    padding-bottom: 9px;
}