{% from "components/post/upload_first_post.html" import upload_first_post with context %}
{% from "components/post/post_modal.html" import post_modal with context %}

<div class="row row-cols-3 post-gallery">

{% if user.posts|length > 0 %}
    {% for post in user.posts %}
        <div class="col" id="post-grid-item-{{ post.id }}">
            <div class="gallery-item" data-bs-toggle="modal" data-bs-target="#post-modal-{{ post.id }}">
                <img src="{{ post.image_url }}" class="gallery-image" alt="">
                <div class="gallery-item-info">
                    <ul>
                        <li class="gallery-item-comments"><i class="fas fa-comment" aria-hidden="true"></i> {{ post.comments|length }}</li>
                    </ul>
                </div>
            </div>
        </div>

        {{ post_modal(user, post) }}

    {% endfor %}
    {{ upload_first_post("invisible") }}
{% else %}
    {% if is_me %}
        {{ upload_first_post("visible") }}
    {% else %}
        <div id="no-posts" class="no-posts-yet">
            <div>
                <i class="bi bi-camera"></i>
            </div>
            <h1 class="no-posts-yet-title">No Posts Yet</h1>
        </div>
    {% endif %}
{% endif %}



</div>
