{% from "account/profile/upload_first_photo.html" import upload_first_photo with context %}

<div class="row row-cols-3 post-gallery">

{% if user.posts|length > 0 %}
    {% for post in user.posts %}
        <div class="col" id="post-grid-item-{{ post.post_id }}">
            <div class="gallery-item" >
                <img src="{{ post.image_url }}" class="gallery-image" alt="">
                <div class="gallery-item-info">
                    <ul>
    {#                TODO: Uncomment when implementing comments #}
    {#                    <li class="gallery-item-comments"><i class="fas fa-comment" aria-hidden="true"></i> 2</li>#}
                        {% if is_me %}
                            <li class="gallery-item-delete" data-post-id="{{ post.post_id }}" onclick="deletePost(this);"><i class="fas fa-trash" aria-hidden="true"></i>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
    {{ upload_first_photo("invisible") }}
{% else %}
    {% if is_me %}
        {{ upload_first_photo("visible") }}
    {% else %}
        <div id="no-posts" class="no-posts-yet">
            <div style="text-align: center">
                <i class="bi bi-camera"></i>
            </div>
            <h1 class="no-posts-yet-title">No Posts Yet</h1>
        </div>
    {% endif %}
{% endif %}

{# TODO: Post description in post Boostrap modal #}
{#                        <p>{{ post.description }}</p>#}

</div>
