{% from "components/follow_button.html" import follow_button with context %}

<div class="row profile-info">
    <div class="profile-image col-3">
        <img src="static/assets/default-profile-picture.png" class="rounded-circle mx-auto d-block" alt="">
    </div>
    <div class="col-9">
        <div class="profile-user-settings ">
            <h2 class="profile-user-name">{{ user.username }}
                {% if not is_me %}
                    {{ follow_button(session.get("logged_in").get("username") in user.followers|map(attribute="username"), user) }}
                {% endif %}
            </h2>
        </div>
        <div class="profile-stats">
            <ul>
                <li><span id="profile-post-count" class="profile-stat-count">{{ user.posts|length }}</span> posts</li>
                <li><a href="#"><span class="profile-stat-count"
                                      id="follow-button-follower-count">{{ user.followers|length }}</span> followers</a>
                </li>
                <li>
                    <button type="button" style="border: none; background-color: transparent;" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop"><a href="#"><span
                            class="profile-stat-count">{{ user.following|length }}</span> following</a>
                    </button>
                </li>
            </ul>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Following</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div style="margin-left: 10px;">
                            {% for user in user.following %}
                                <br>
                                <div class="display-inline-block comment-profile-img">
                                    <a href="/{{ user.username }}"><img
                                            src="{{ url_for('static', filename='assets/default-profile-picture.png') }}"
                                            class="post-comment-profile-pic rounded-circle"></a>
                                </div>
                                <div class="post-comment-text">
                                    <a href="/{{ user.username }}"><span
                                            class="post-comment-username">{{ user.username }}</span></a>
                                <div>
                                    <br>
                                    <span>{{ user.full_name }}</span>
                                </div>
                                </div>
                                <br>
                            {% endfor %}
                        <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- -->
        <div class="profile-bio">
            <p class="profile-full-name">{{ user.full_name }}</p>
        </div>
    </div>
</div>
