{% extends "base.html" %}

{% from "components/form_control.html" import form_control with context %}

{% block title %}Create a Post{% endblock %}

{% block content %}

<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center" style="margin-top: -55px;">
    <div class="container create-post">
        <h1 class="create-post-title">Create a Post</h1>
        <form class="create-post-form" action="/post" method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}

            <div class="error-group">
                {% for field in form %}
                    {% if field.errors %}
                        {% for err in field.errors %}
                            <p class="text-danger text-center">{{ err }}</p>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-md-6">
                    {{ form_control(form.post_image) }}
                    <img class="preview-image" id="preview-image" />
                </div>
                <div class="col-md-6">
                    {{ form_control(form.description) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 offset-md-6 d-flex justify-content-center">
                    {{ form.submit(class="btn btn-primary", placeholder=form.submit.label.text) }}
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
