<footer class="footer text-center col-lg-12">
{#-------------begenning of commented code to fix footer overlap-------------#}
{#    <div class="fixed-bottom container-fluid row text-center col-lg-12">#}
{#        <div class="container-fluid">#}
{#            <div class="row text-center">#}
{#                <div class="col-lg-12">#}
                    Copyright © 2021 Soengram Adapted from <a href="instagram.com">Instagram</a>
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#-------------end of commented code to fix footer overlap-------------#}
</footer>
