<nav class="navbar navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-light bg-white fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Soengram</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item display-lg display-md">
                    {% if request.endpoint == 'user_routes.get_feed' %}
                        <a class="nav-link" aria-current="page" href="/">
                            <i class="bi bi-house-door-fill"></i>
                        </a>

                    {% else %}
                        <a class="nav-link" aria-current="page" href="/">
                            <i class="bi bi-house-door"></i>
                        </a>
                    {% endif %}
                </li>
                <li class="nav-item display-lg display-md">
                    {% if request.endpoint == 'post_routes.create_post' %}
                        <a class="nav-link" aria-current="page" href="/post">
                            <i class="bi bi-plus-square-fill"></i>
                        </a>
                    {% else %}
                        <a class="nav-link" aria-current="page" href="/post">
                            <i class="bi bi-plus-square"></i>
                        </a>
                    {%endif%}
                </li>
                <li class="nav-item dropdown display-lg display-md">
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                        <img src="{{ url_for('static', filename='assets/default-profile-picture.png') }}" class="navbar-profile-pic rounded-circle">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end border-0 shadow rounded" aria-labelledby="navbarDropdown">
                        <span class="dropdown-menu-arrow"></span>
                        <li>
                            <a class="dropdown-item" href="/{{ session.get('logged_in').get('username') }}">
                                <i class="bi bi-person-circle align-top"></i>
                                <span class="align-middle">Profile</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <form method=post action=account/signout>
                                <button class="dropdown-item">
                                    <i class="bi bi-box-arrow-in-right align-top"></i>
                                    <span class="align-middle">Sign Out</span>
                                </button>
                            </form>
                        </li>
                    </ul>
                </li>

                {# Dropdown items for Mobile devices #}

                <li class="nav-item display-sm">
                    {% if request.endpoint == 'user_routes.get_feed' %}
                        <a class="dropdown-item" href="/">
                            <i class="bi bi-house-door-fill"></i>
                            <span class="align-middle">Home</span>
                        </a>
                    {% else %}
                        <a class="dropdown-item" href="/">
                            <i class="bi bi-house-door"></i>
                            <span class="align-middle">Home</span>
                        </a>
                    {% endif %}
                </li>
                <li class="nav-item display-sm">
                    {% if request.endpoint == 'post_routes.create_post' %}
                        <a class="dropdown-item" aria-current="page" href="/post">
                            <i class="bi bi-plus-square-fill"></i>
                            <span class="align-middle">Create a Post</span>
                        </a>
                    {% else %}
                        <a class="dropdown-item" aria-current="page" href="/post">
                            <i class="bi bi-plus-square"></i>
                            <span class="align-middle">Create a Post</span>
                        </a>
                    {%endif%}
                </li>
                <li class="nav-item display-sm">
                    <a class="dropdown-item" href="/{{ session.get('logged_in').get('username') }}">
                        <img src="{{ url_for('static', filename='assets/default-profile-picture.png') }}" class="navbar-profile-pic rounded-circle">
                        <span class="align-middle navbar-profile">Profile</span>
                    </a>
                </li>
                <li class="nav-item display-sm">
                    <form method=post action=account/signout>
                        <button class="dropdown-item">
                         <i class="bi bi-box-arrow-in-right align-top"></i>
                            <span class="align-middle">Sign Out</span>
                        </button>
                    </form>
                </li>

                {# Dropdown items for Mobile devices #}
            </ul>
        </div>
    </div>
</nav>