{# Params:
    - post: Post
#}
{% macro post_comment_input(post, component) -%}
    <div class="form-group mt-auto d-flex flex-row align-items-between mb-3 mx-3">
        <input type="text" class="form-control" id="comment-input-{{ post.id }}-{{ component }}" placeholder="Add a comment..." maxlength="2200" data-post-id={{ post.id }} data-component={{ component }} onkeyup="changePostButtonState(this)">
        <button id="btn-comment-submit-{{ post.id }}-{{ component }}" type="submit" class="btn btn-primary submit-comment-btn disabled" onclick="addComment(this)" data-post-id={{ post.id }} data-component={{ component }}>Post</button>
    </div>
{%- endmacro %}
