{# Params:
    - user: User
    - comment: Post or Comment
    - commentType: String "postDescription" or "userComment"
    - postDisplayType: String "card" or "modal"
#}
{% macro post_comment(user, comment, commentType, postDisplayType) -%}
    {% set MIN_SHOW_MORE_CHARACTER_LENGTH = 120 %}

    <div class="post-comment">
        {% if postDisplayType == "modal" %}
            <div class="display-inline-block comment-profile-img">
                <a href="/{{ user.username }}"><img src="{{ url_for('static', filename='assets/default-profile-picture.png') }}" class="post-comment-profile-pic rounded-circle"></a>
            </div>
        {% endif %}

        <div class="post-comment-text">
            <a href="/{{ user.username }}"><span class="post-comment-username">{{ user.username }}</span></a>

            <span id="comment-{{ comment.id|string }}" class="show-read-more">
                {% if postDisplayType == "card" %}
                    {% if comment.text|length > MIN_SHOW_MORE_CHARACTER_LENGTH %}
                        {{ comment.text[:MIN_SHOW_MORE_CHARACTER_LENGTH].rstrip() + '...' }}
                        <a href="javascript:void(0);" onclick="commentReadMore(this)" class="read-more"> more</a>
                        <span class="more-text">{{ comment.text }}</span>
                    {% else %}
                        {{ comment.text }}
                    {% endif %}
                {% elif postDisplayType == "modal" %}
                    {% if commentType == "postDescription" %}
                        {{ comment.text }}
                        <div class="card-post-date">
                            <span>{{ comment.created_at|postdateformat|uppercase }}</span>
                        </div>
                    {% else %}
                        {{ comment.text }}
                    {% endif %}
                {% else %}
                    {{ comment.text }}
                {% endif %}
            </span>

        </div>

    </div>
{%- endmacro %}
