{% from "components/post/post_comment.html" import post_comment with context %}
{% from "components/post/post_comment_input.html" import post_comment_input with context %}

{# Params:
    - user: User
    - post: Post
#}
{% macro post_modal(user, post) -%}
    <div class="modal fade" id="post-modal-{{ post.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="modal-post-image">
                            <img src="{{ post.image_url }}" class="modal-image" alt="">
                        </div>
                        <div class="modal-post-user-info">
                            <div class="d-flex flex-column h-100">
                                <div class="modal-post-user-link">
                                    <a href="/{{ user.username }}">
                                        <img src="{{ url_for('static', filename='assets/default-profile-picture.png') }}" class="post-profile-pic rounded-circle">
                                        <span class="post-username align-middle">{{ user.username }}</span>
                                    </a>
                                    {% if is_me %}
                                        <i class="fa fa-trash-alt" aria-hidden="true" data-post-id="{{ post.id }}" onclick="deletePost(this);"></i>
                                    {% endif %}
                                </div>

                                <hr />
                                <div class="comment-container" >
                                    {# Post Description #}
                                    {{ post_comment(user, post, "postDescription", "modal") }}

                                    <div id="comment-container-{{ post.id }}-modal">
                                        {% for comment in post.comments %}
                                            {{ post_comment(comment.user, comment, "userComment", "modal") }}
                                        {% endfor %}
                                    </div>
                                </div>
                                {{ post_comment_input(post, 'modal') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{%- endmacro %}
