{% from "components/follow/follow_item.html" import follow_item with context %}

{# Params:
    - status: label for model, following or followers
    - list: User
#}
{% macro follow_modal(status, list) -%}
    <div class="modal fade" id="{{ status }}-count-modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered modal-follow">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">{{ 'Following' if status == 'following' else 'Followers' }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="modal-{{ status }}" class="follow-body">
                        {% for user in list %}
                            {{ follow_item(user) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{%- endmacro %}
